--
-- PostgreSQL database dump
--

\restrict J04dAKSFEhv41t1JkadHlbnr0Iu8vHmlw1IuAAr9v9URlTYGEsHWeypMMVgVMP2

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: program; Type: TABLE; Schema: public; Owner: abbyr
--

CREATE TABLE public.program (
    program_id integer NOT NULL,
    name character varying(100),
    type character varying(100),
    degree_type character varying(100),
    school character varying(100),
    valid_from_yr integer,
    valid_to_yr integer
);


ALTER TABLE public.program OWNER TO abbyr;

--
-- Name: program_program_id_seq; Type: SEQUENCE; Schema: public; Owner: abbyr
--

CREATE SEQUENCE public.program_program_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.program_program_id_seq OWNER TO abbyr;

--
-- Name: program_program_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: abbyr
--

ALTER SEQUENCE public.program_program_id_seq OWNED BY public.program.program_id;


--
-- Name: program_requirements; Type: TABLE; Schema: public; Owner: abbyr
--

CREATE TABLE public.program_requirements (
    program_id integer NOT NULL,
    course_id integer NOT NULL,
    requirement_type character varying(100)
);


ALTER TABLE public.program_requirements OWNER TO abbyr;

--
-- Name: program program_id; Type: DEFAULT; Schema: public; Owner: abbyr
--

ALTER TABLE ONLY public.program ALTER COLUMN program_id SET DEFAULT nextval('public.program_program_id_seq'::regclass);


--
-- Data for Name: program; Type: TABLE DATA; Schema: public; Owner: abbyr
--



--
-- Data for Name: program_requirements; Type: TABLE DATA; Schema: public; Owner: abbyr
--

COPY public.program_requirements (program_id, course_id, requirement_type) FROM stdin;
\.


--
-- Name: program_program_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abbyr
--

SELECT pg_catalog.setval('public.program_program_id_seq', 156, true);


--
-- Name: program program_pkey; Type: CONSTRAINT; Schema: public; Owner: abbyr
--

ALTER TABLE ONLY public.program
    ADD CONSTRAINT program_pkey PRIMARY KEY (program_id);


--
-- Name: program_requirements program_requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: abbyr
--

ALTER TABLE ONLY public.program_requirements
    ADD CONSTRAINT program_requirements_pkey PRIMARY KEY (program_id, course_id);


--
-- Name: program_requirements program_requirements_program_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: abbyr
--

ALTER TABLE ONLY public.program_requirements
    ADD CONSTRAINT program_requirements_program_id_fkey FOREIGN KEY (program_id) REFERENCES public.program(program_id);


--
-- PostgreSQL database dump complete
--

\unrestrict J04dAKSFEhv41t1JkadHlbnr0Iu8vHmlw1IuAAr9v9URlTYGEsHWeypMMVgVMP2

